<!DOCTYPE html>
<html lang="de" xml:lang="de">
<head>
<title>{{ ajaxfilemanager.settings.site_title }}</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<link rel="stylesheet" type="text/css" href="media/css/style.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/3.3.0/build/yui/yui-min.js" charset="utf-8"></script>
<script type="text/javascript">
YUI().use('uploader', function(Y) {
    Y.on('domready', function() {
        /* Classes */        

        var uploader = new Y.Uploader({
            boundingBox: '#selectButton',
            transparent: false,
            buttonSkin:"http://developer.yahoo.com/yui/3/examples/uploader/assets/selectFileButton.png"
        });
        /* Event Handler */

        function echoInput() {
            output = Y.one('#artist').get("value") + " " + Y.one('#album').get("value") + " " + Y.one('#year').get("value");
            Y.one('#test').setContent(output);
        }
        Y.on('click', echoInput, '#echo_input');

        uploader.on("uploaderReady", setupUploader);
        uploader.on("fileselect", fileSelect);        
        uploader.on("uploadprogress", updateProgress);
        uploader.on("uploadcomplete", uploadComplete);
        uploader.on("uploadcompletedata", uploadCompleteData);

        Y.one("#uploadButton").on('click', uploadFile);


        /* Uploader Event Functions */

        function setupUploader(event) {
            uploader.set("multiFiles", false);
            uploader.set("log", true);
            
            var fileFilters = new Array({description:"Audio files", extensions:"*.mp3;*.aac;*.ogg;*.wav"});
            uploader.set("fileFilters", fileFilters);
        }        
    
        function fileSelect(event) {
            var fileData = event.fileList;
            for (var key in fileData) {
                var output = "File selected: "+ fileData[key].name;
                Y.one("#filename").setContent(output);
            }
        }
        
        function updateProgress (event) {
            Y.one("#percent").setContent("Percent uploaded: " + Math.round((100 * event.bytesLoaded / event.bytesTotal)) + "%");
        }
        
        function uploadComplete (event) {
            Y.one("#percent").setContent("Upload complete!");
        }

        function uploadCompleteData (event) {
            Y.one("#result").setContent("Data returned from the server: <br>" + event.data);
        }

        function uploadFile (event) {
            uploader.uploadAll("../uploader/", "POST", {artist:Y.one('#artist').get("value"), album:Y.one('#album').get("value"),year:Y.one('#year').get("value")});
        }
    });

});
</script>
</head>

<body>
<div id="container">
<div id="upload_field">
<a href="#" id="selectButton" style="width:100px; height: 40px;" >Select Files</a>
<a href="#" id="uploadButton">Upload</a>
<div id="filename"></div>
<div id="percent"></div>
<div id="result"></div>
</div>
<form name="id3_infos" charset="utf-8">
<label for="artist">Artist</label>
<input type="text" id="artist" name="artist" />
<label for="album">Album</label>
<input type="text" id="album" name="album" />
<label for="year">Year</label>
<input type="text" id="year" name="year" />
</form>
<a href="#" id="echo_input">Display Input Infos</a>
<div id="test">

</div>

</div>
</body>
</html>
